
h1{
    color: white;
   margin-top: 250px;
   font-family: Eczar;
   text-transform: uppercase;
   font-weight: 800;
   font-size: 5em;
   text-shadow: 4px 4px 4px wheat;
}



.btn{
    margin: 30px auto;
    justify-content: center;
    
}


body{
background-color: black;
}

.infoz{
list-style-type: none;
font-size: 15px;
color: red;
position: absolute;
top: 500px;
}

strong{
    font-size: 20px;
    color: blue;
    font-weight: 800;
    font-family: poppins;  
}




h2{
    color: white;
    font-family: Eczar;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 5em;
    text-shadow: 4px 4px 4px wheat;
}

.rowz{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.557);
    padding: 10px;
    border-radius: 45px;
  
}


