  
{% extends 'base.html' %}

<!--  -->
{% block content %} {{block.super}}
<div class="container">
    <nav class="navbar navbar-expand-lg ">
        <div class="col-sm-4 col-md-4 navbar-left">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mdi mdi-camera-iris md-36"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% for item in locations %}
                    <a class="dropdown-item" href="/location/{{item.city}}"><span class="mdi mdi-camera-iris md-36"></span>{{item.city}}</a> {% endfor %}
                </div>
            </div>
        </div>
    </nav>
</div>
<h2 class="text-center">Gallery</h2>
 
        <div class=" container imgz"> 

    <div class="row rowz ">
            {% for item in pictures %}    
            <div class="gallery-item" data-toggle="modal" data-target="#{{item.id}}">
                <img src="{{item.image_link.url}}" alt="" class="img-fluid"  height="600" width="500" />
                <div class="gallery-item-info ">
                    <ul class="infoz">
                        <li class=""><span class="mdi mdi-camera-iris md-36"></span><strong>Category:</strong>{{item.category}} </li>
                        <li class=" "><span class="mdi mdi-camera-iris md-36"></span><strong>Locations:</strong>{{item.location}} </li>
                    </ul>
            </div>
        </div>
        

            <div class="modal fade " id="{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                    <div class="modal-content popup">
                        <div class="modal-header">
                            <button type="button" data-dismiss="modal">Close
                        </div>
                        <div class="modal-body text-center">
                            <h4 class="modal-title" id="imageheader"><strong>Title:</strong>{{item.title}}</h4>
                            <img src="{{item.image_link.url}}" alt="{{item.name}}" class="img-responsive" height="500">
                            <p class="text-center"><strong>Description:</strong>{{item.description}}</p>
                            <ul class="list-inline list-unstyled">
                                <li class=""><strong>Category:</strong>{{item.category}} </li>
                                <li class=""><strong>Locations:</strong>{{item.location}} </li>
                                
                            </ul>
                        </div>
                        <button type="button" name="button" class="btn btn-info" value="https://jkviewz.herokuapp.com{{item.image_link.url}}" onclick="copylink(this.value)">Copy Image Link</button>
                    </div>
                </div>
            </div>
            <script>
                function copylink(value) {
                    console.log('hi yellow')
                    function handler(event){
                        event.clipboardData.setData('text/plain', value);
                        event.preventDefault();
                        document.removeEventListener('copy', handler, true);
                    }
                    document.addEventListener('copy', handler, true);
                    document.execCommand('copy');
                }
                </script>
            {% endfor %}
        </div>
    </div>

{% endblock %} {% block scripts %} {{block.super}}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}




