{% extends 'base.html' %} {% block content %}
<div class="block">
    <div class="row">
        {% if results %}
        <h2class="text-center">Category</h2class=>
        <h3 class="text-info"> Found {{results|length }} items for the term '{{message}}' </h3>
        {% else %}
        <h3 class="text-info"> Found 0 results in '{{message}}' </h3>
        {% endif %}
    </div>


    <div class="row rowz1">
        <div class="gallery">
            {% if results %} {% for item in results %}
            <div class="gallery-item" tabindex="0">
            <div class="col-6">
                <img src="{{item.image_link.url}}" class="gallery-image" alt=""  width="500">
            </div>
                <div class="gallery-item-info col-6">
                    <ul class="infoz">
                        <li ><strong>Category:</strong> {{item.category}} </li>
                        <li ><strong>Locations:</strong>{{item.location}} </li>
                    </ul>
                    <p class="text-center"><strong>Description:</strong>{{item.description}}</p>
                </div>
            </div>
            {% endfor %} {% endif %}
        </div>
    </div>
</div>
{% endblock %}