{% extends 'base.html' %} {% block content %}
<div class="block">
    <div class="row">
        {% if results %}
        <h3 class="text-info"> Found {{results|length }} items for the term '{{message}}' </h3>
        {% else %}
        <h3 class="text-info"> Found 0 results in '{{message}}' </h3>
        {% endif %}
    </div>


    <div class="row">
        <div class="gallery">
            {% if results %} {% for item in results %}
            <div class="gallery-item" tabindex="0">
                <img src="{{item.image_link.url}}" class="gallery-image" alt="">
                <div class="gallery-item-info ">
                    <ul>
                        <li ><span class="mdi mdi-camera-iris md-36"></span> {{item.category}} </li>
                        <li ><span class="mdi mdi-camera-iris md-36"></span>{{item.location}} </li>
                    </ul>
                </div>
            </div>
            {% endfor %} {% endif %}
        </div>
    </div>
</div>
{% endblock %}